.Book {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  color: darkslategray;
  padding-left: 20px;
  padding-right: 20px;
}

.Book img {
  height: 300px;
  margin: 20px;
}

.Book .book-detail {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: 10px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

p {
  color: gray;
  font-size: 0.5em;
}
